<div class="container">

    <h1>Carrito:</h1>

    <p id="ParrfCart"></p>

    <table id="tableCartID" class="table">
    </table>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/cartID.js" type="module"></script>