<div class="container">

    <h1>Catálogo en tiempo real:</h1>

    <table id="table" class="table">
    </table>

    <div class="Pags">
            <h2 class="boton pag">Prev</h2>
            <h2 class="boton pag">Next</h2>
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js" type="module"></script>